body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #e4d4e1;
}

#projects {
  background-color: #e4d4e1;
}

#contact {
  background-color: #ffff;
}

section {
  padding-top: 5rem;
}
